<br>
<div class="card container">
<div class="card-body row">
  <div class="col-12 col-offset-2">
    <form (ngSubmit)="OnSubmit(f)" #f="ngForm">

      <div class="form-group">
           <label for="eamil">Email</label>
           <input type="text" class="form-control" name="email" ngModel>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" min="6" ngModel>
      </div>
      <button type="submit" class="btn btn-success">SignIn</button>
    </form>
  </div>
</div>
</div>
